<div class="category">
  <div class="meta">
    <h1 class="title"><%= category.title %></h1>

    <div class="description">
      <%= simple_format category.description %>
    </div>
  </div>

  <div class="articles">
    <% @articles.each do |article| %>
    <div class="article">
      <h2 class="title"><%= link_to article.title, article_path(article) %></h2>

      <div class="description"><%= simple_format article.description %></div>
    </div>
    <% end %>
  </div>
</div>
