<h1 class="title"><%= @category.title %></h1>

<div class="description">
  <%= simple_format @category.description %>
</div>

<div class="articles">
  <% @category.articles.each do |article| %>
  <div class="article">
    <h2 class="title"><%= link_to article.title, category_article_path(@category, article) %></h2>

    <div class="description"><%= simple_format article.description %></div>
  </div>
  <% end %>
</div>
