<h1 class="title"><%= @article.title %></h1>

<div class="description">
  <%= simple_format @article.description %>

  <% @article.sections.each do |section| %>
    <%= render section.sectionable %>
  <% end %>
</div>
