<div class="category">
  <div class="meta">
    <h1 class="title"><%= @article.title %></h1>

    <div class="description">
      <%= simple_format @article.description %>
    </div>
  </div>

  <div class="sections">
    <% @article.sections.each do |section| %>
    <div class="<%= section.sectionable.class.name.demodulize.downcase %> section">
      <%= render section.sectionable %>
    </div>
    <% end %>
  </div>
</div>
