<section class="attachment">
  <% list.attachments.each do |attachment| %>
    <div class="link"><%= link_to attachment.title,
      attachment.file.to_s,
      download: File.basename(attachment.file.to_s) %>
    </div>

    <% if attachment.description.present? %>
      <div class="description">
        <%= simple_format attachment.description %>
      </div>
    <% end %>
  <% end %>
</section>
